<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.housemap">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="HomeView"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.HouseMap"
            tools:targetApi="31">
        <activity
                android:name=".ConsultPortesActivity"
                android:exported="false"/>
        <activity
                android:name=".ModifHouseActivity"
                android:exported="false"/>
        <activity
                android:name=".AfficheMurActivity"
                android:exported="false"/>
        <activity
                android:name=".PorteActivity"
                android:exported="false"/>
        <activity
                android:name=".ChangerActivity"
                android:exported="false"/>
        <activity
                android:name=".CapteursActivity"
                android:exported="false"/>
        <activity
                android:name=".PieceEnCoursActivity"
                android:exported="false"/>
        <activity
                android:name=".ConsultPieceActvity"
                android:exported="false"/>
        <activity
                android:name=".ConstructionActivity"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>